version: '3.8'

services:
  storybook:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3333:3333"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/packages/astrum-ui/node_modules
    stdin_open: true
    tty: true
