@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Regular.woff2") format("woff2"),
       url("/fonts/Involve-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Medium.woff2") format("woff2"),
       url("/fonts/Involve-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-SemiBold.woff2") format("woff2"),
       url("/fonts/Involve-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-Bold.woff2") format("woff2"),
       url("/fonts/Involve-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body,
#storybook-root,
#storybook-root *,
.sb-story,
.sb-story *,
* {
  font-family: "Involve", sans-serif !important;
}

*[style*="Nunito Sans"],
*[style*="nunito-sans"] {
  font-family: "Involve", sans-serif !important;
}
