.astrum-toggler {
  --astrum-toggler-primary: #2653F2;
  --astrum-toggler-hover-blue: #0431D0;
  --astrum-toggler-gray-200: #D5D5D5;
  --astrum-toggler-gray-400: #ABABAB;
  --astrum-toggler-gray-600: #818181;
  --astrum-toggler-white: #FFFFFF;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.astrum-toggler__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.astrum-toggler__track {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  width: 36px;
  height: 18px;
  border-radius: 32px;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  flex-shrink: 0;
  overflow: hidden;
}

.astrum-toggler__thumb {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 32px;
  background: var(--astrum-toggler-gray-400);
  flex-shrink: 0;
  transition: transform 0.2s ease-out, left 0.2s ease-out;
}

.astrum-toggler:not(.astrum-toggler--checked) .astrum-toggler__track {
  background: transparent;
  border: 1px solid var(--astrum-toggler-gray-400);
}

.astrum-toggler:not(.astrum-toggler--checked) .astrum-toggler__thumb {
  transform: translateY(-50%);
}

@media (hover: hover) {
  .astrum-toggler:hover:not(.astrum-toggler--disabled):not(.astrum-toggler--checked) .astrum-toggler__track {
    border-color: var(--astrum-toggler-gray-600);
  }
}

.astrum-toggler--checked .astrum-toggler__track {
  border: 1px solid var(--astrum-toggler-primary);
}

.astrum-toggler--checked .astrum-toggler__thumb {
  transform: translateY(-50%);
  background: var(--astrum-toggler-primary);
  left: calc(100% - 13px);
}

@media (hover: hover) {
  .astrum-toggler:hover:not(.astrum-toggler--disabled).astrum-toggler--checked .astrum-toggler__track {
    border-color: var(--astrum-toggler-hover-blue);
  }
}

.astrum-toggler--disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
