.astrum-input {
  --astrum-input-primary: #2653F2;
  --astrum-input-border: #D5D5D5;
  --astrum-input-border-hover: #ABABAB;
  --astrum-input-placeholder: #ABABAB;
  --astrum-input-placeholder-focus: #D5D5D5;
  --astrum-input-text: #575757;
  --astrum-input-error: #EA3B3D;
  --astrum-input-bg: #FFFFFF;

  display: inline-flex;
  flex-direction: column;
  gap: 0;
  min-width: 0;
}

.astrum-input__wrap {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--astrum-input-bg);
  border: 1px solid var(--astrum-input-border);
  border-radius: 4px;
}

@media (hover: hover) {
  .astrum-input__wrap:hover:not(:has(.astrum-input__field:disabled)) {
    border-color: var(--astrum-input-border-hover);
  }
}

.astrum-input__wrap:focus-within {
  outline: 1px solid var(--astrum-input-primary);
  outline-offset: -1px;
  border-color: var(--astrum-input-primary);
}

.astrum-input__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--astrum-input-text);
  cursor: pointer;
}

.astrum-input--s .astrum-input__label {
  margin-bottom: 6px;
  font-size: 12px;
}

.astrum-input__required-icon {
  display: flex;
  width: 7px;
  height: 6px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.astrum-input--s .astrum-input__required-icon {
  top: 6px;
  right: 6px;
}

.astrum-input__wrap--search .astrum-input__field {
  padding-right: 36px;
}

.astrum-input--s .astrum-input__wrap--search .astrum-input__field {
  padding-right: 32px;
}

.astrum-input__wrap--password .astrum-input__field {
  padding-right: 36px;
}

.astrum-input--s .astrum-input__wrap--password .astrum-input__field {
  padding-right: 32px;
}

.astrum-input__search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--astrum-input-placeholder);
  cursor: pointer;
}

.astrum-input--s .astrum-input__search-icon {
  right: 8px;
}

.astrum-input--s .astrum-input__search-icon svg {
  width: 24px;
  height: 24px;
}

.astrum-input__clear-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--astrum-input-placeholder);
  cursor: pointer;
}

.astrum-input--s .astrum-input__clear-icon {
  right: 6px;
}

.astrum-input--s .astrum-input__clear-icon svg {
  width: 20px;
  height: 20px;
}

.astrum-input__password-toggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--astrum-input-border-hover);
  cursor: pointer;
}

.astrum-input--s .astrum-input__password-toggle {
  right: 6px;
}

.astrum-input--s .astrum-input__password-toggle svg {
  width: 24px;
  height: 24px;
}

.astrum-input__field {
  box-sizing: border-box;
  flex: 1;
  min-width: 301px;
  width: 100%;
  height: 54px;
  padding: 16px 8px 16px 24px;
  border: none;
  border-radius: 8px;
  background: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--astrum-input-text);
}

.astrum-input__field[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.astrum-input--s .astrum-input__field {
  height: 43px;
  padding: 12px 8px 12px 20px;
  font-size: 14px;
}

.astrum-input__field::placeholder {
  color: var(--astrum-input-placeholder);
}

.astrum-input__field:focus::placeholder {
  color: var(--astrum-input-placeholder-focus);
}

.astrum-input__field:focus-visible {
  border-color: transparent;
  outline: 1px solid transparent;
}

.astrum-input__field:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.astrum-input__wrap:has(.astrum-input__field:disabled) {
  cursor: not-allowed;
  border-style: dotted;
}

.astrum-input__error {
  display: block;
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  color: var(--astrum-input-error);
  border-radius: 8px;
  background: rgba(195, 63, 65, 0.10);
  padding: 4px 8px;
}
